{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "import-graphql"
    ]
}
//! presets - for undestanding new ES6

//! plugins-for import .graphql and use schemas without ``